@import "~antd/dist/antd.css";

.App {
    text-align: center;
}

.button {
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    line-height: 20px;
    user-select: none;
    white-space: nowrap;
}


.switchStatusButton {
    border: 1px solid #dbd9d9;
}

.progressWrapper {
    position: fixed;
    height: 150px;
    background-color: #fff;
    box-shadow: 0px 0px 8px lightgrey;
    width: 100%;
    bottom: 0;
}
